# Nuxt
.nuxt
.output
.data
.nitro
.cache
dist

# Dependencies
node_modules

# Environment and local data
.env
.env.*
!.env.example
*.local
coverage
test-results
playwright-report

# Editors / OS
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json

# Logs
*.log
npm-debug.log*

